# Cached Python bytecode
__pycache__/

# Checkpoints from JupyterLab
.ipynb_checkpoints/

# Python build files
/dist/

# Python virtual environment, if virtualenvs.in-project (poetry config)
/.venv/

# Native (and Haskell) build files
*.exe
*.hi
*.o

# Carried-in configuration when building a dev container
.inherited-configuration
