# Cached Python bytecode
__pycache__/

# Some kinds of non-notebook files created as Jupyter checkpoints
/*/.ipynb_checkpoints/*-checkpoint.py
/*/.ipynb_checkpoints/*-checkpoint.txt
/*/.ipynb_checkpoints/*-checkpoint.yml

# Native (and Haskell) build files
*.exe
*.hi
*.o
