# Cached Python bytecode
__pycache__/

# Checkpoints from JupyterLab
.ipynb_checkpoints/

# Python build files
/dist/

# Native (and Haskell) build files
*.exe
*.hi
*.o

# Downloaded word list
/basics/words.txt
