# It's especially important for shell scripts to have LF, *not* CRLF, endings.
/.devcontainer/initialize eol=lf
/.devcontainer/postCreate eol=lf
/.devcontainer/postStart eol=lf
/meta/restructure text eol=lf
/meta/run-test-scripts text eol=lf

# Although of lesser importance, it is convenient, especially when cloning on
# Windows into a dev container, to have all text files have LF line endings.
* text=auto eol=lf

# Minimize the chance of Git wrongly detecting a binary file as text.
*.png binary
