name: Run ShellCheck

on: [push, pull_request]

jobs:
  shellcheck:
    runs-on: [ubuntu-latest]
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Analyze shell scripts
        uses: 'bewuethr/shellcheck-action@v2'
